.report{
  display:flex;
  flex-direction: column;
}

.entries{
  display: flex;
  flex-direction: row;
}


.entry-container {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

p {
  margin-left: 20px;
}



.entry-container:hover {
  transform: scale(1.05);
}

.detail{
  margin-left: 100;
}
